/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0;
     background-color: #fff;
     /* background-color: #fae16c; */

}

.wrapper {
     background-color: #fdeea6;
}

/* ------------------------------------------------- */
/* -------------------- FONTS -------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.roboto {
     font-family: "Roboto", sans-serif;
}
/* ------------------------------------------------- */

@layer components {
     .wrapper {
          /* @apply p-5 max-h-screen; */
          @apply p-5;
     }

     .container {
          @apply my-7 mx-auto;
     }

     .app-title {
          @apply text-2xl tracking-wider text-center;
     }

     .section-title {
          @apply uppercase text-base border-b-2 border-solid border-gray-500 p-2.5  mb-2.5;
     }

     /* -------------------- LIST GRID -------------------- */

     .list {
          @apply list-none p-0 mt-11 mb-10;
     }

     .list-grid {
          @apply grid grid-cols-11 items-center w-full;
     }

     /* -------------------- ITEMS -------------------- */

     .list-item {
          @apply flex items-center justify-center text-base font-bold my-2 bg-white shadow-xl border border-gray-300;
     }
     .list-item-disabled {
          @apply opacity-50;
     }

     .item-qty {
          @apply col-span-1 p-2;
     }

     .item-name {
          @apply col-span-5  p-2;
     }
     .item-name-disabled {
          @apply col-span-9 p-2 line-through;
     }
     /* ---------------------------------------------------- */

     .item-btn-group {
          @apply col-span-4  p-1 flex justify-end items-center space-x-2 text-xs;
     }
     .item-btn-group-disabled {
          @apply hidden;
     }

     /* ---------------------------------------------------- */

     .btn-use-one {
          @apply rounded-lg py-2 px-1.5 w-16
                    border-2 border-solid border-yellow-600 
                    hover:bg-yellow-100 bg-yellow-600 
                    hover:text-yellow-700  text-white 
                    transition duration-300;
     }

     .btn-use-all {
          @apply rounded-lg py-2 px-1.5 w-16
                    border-2 border-solid border-blue-600
                    hover:bg-blue-200  bg-blue-600
                    hover:text-blue-800 text-white
                    transition duration-300;
     }
     /* ---------------------------------------------------- */

     .btn-delete {
          @apply col-span-1 p-2;
     }

     /* -------------------- FORM -------------------- */

     .form-input {
          @apply w-full border border-gray-400 border-solid p-2.5 text-xs;
     }

     label {
          @apply hidden;
     }

     .add-btn {
          @apply bg-green-700 shadow-inner text-white border-0 block text-sm mt-2.5 mr-0 mb-7 p-2.5 w-full;
     }

     /* -------------------- EDIT FORM -------------------- */
}
