/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     display: flex;
     flex-direction: column;
     margin: 0;
     background-color: #fff;
}

input:focus::placeholder {
  color: transparent;
}

/* ------------------------------------------------- */
/* -------------------- FONTS -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Julius+Sans+One&family=Pacifico&family=Quicksand:wght@500&family=Source+Sans+Pro:wght@700&display=swap");


/* app title  */
.fontPacifico {
     font-family: "Pacifico", cursive;
}

.fontSansPro {
     font-family: "Source Sans Pro", sans-serif;
}
/* ------------------------------------------------- */

@layer components {
     .container {
          @apply fontSansPro p-5 w-full max-h-screen mx-auto 
               md:max-w-4xl;
     }

     .app-title {
          @apply fontPacifico text-5xl tracking-wider text-center;
     }

     /* -------------------- LIST GRID -------------------- */

     .list {
          @apply list-none p-0 mt-11 mb-10;
     }
     .list-item-container {
          @apply flex-wrap items-center justify-center text-lg my-2 bg-white shadow-xl border border-gray-300;
     }
     .list-item-container-disabled {
          @apply opacity-50;
     }
     .list-grid {
          @apply grid grid-cols-11  w-full;
     }

     /* -------------------- ITEMS -------------------- */
  
     .item-qty {
          @apply p-2 flex flex-col justify-center col-span-1 text-center;
     }

     .item-name {
          @apply p-2 flex-wrap flex-col justify-center col-span-4 font-bold;
     }
     .item-name-disabled {
          @apply col-span-4 p-2 line-through;
     }
     /* -------------- BUTTON GROUP --------------------- */

     .item-btn-group {
          @apply col-span-6 flex justify-end items-center space-x-2  text-center;
     }
  

     /* ----------------- BUTTONS ------------------------ */
  
     .btn-disabled {
          @apply hidden;
     }

     .btn-use-one {
          @apply inline-block whitespace-nowrap rounded-lg px-1.5 w-16 border-2 border-solid text-lg text-center h-11
               border-yellow-600 
               bg-yellow-500 hover:bg-yellow-600 
               text-white 
               transition duration-300;
     }

     .btn-use-all {
          @apply inline-block whitespace-nowrap rounded-lg px-1.5 w-16 border-2 border-solid text-lg text-center h-11
               border-blue-600
               bg-blue-500  hover:bg-blue-600
               text-white
               transition duration-300;
     }

     .btn-delete {
          @apply inline-block whitespace-nowrap rounded-lg px-1.5 w-16 border-2 border-solid text-lg text-center h-11
               border-red-600
               bg-red-500  hover:bg-red-600
               text-white
               transition duration-300;
     }

     /* ---------------------------------------------------- */

     /* -------------------- FORM -------------------- */

     .form-input {
          @apply w-full border-gray-400 border-solid border-2 p-2.5 text-lg;
     }

     label {
          @apply hidden;
     }

     .add-btn {
          @apply block text-xl tracking-wider font-bold mb-2.5 mr-0 p-2.5 w-full 
               shadow-inner border-2 border-solid
               border-green-600
               bg-green-500 hover:bg-green-600
               text-white 
               transition duration-300;
     }

     /* -------------------- EDIT FORM -------------------- */
}
